.PostList {
    width: 1120px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 38px;
    column-gap: 20px;
    grid-template-areas:
        "MidPost1 MidPost2 MidPost3"
        "MidPost4 MidPost5 MidPost6"
        "MidPost7 MidPost8 MidPost9"
        "MidPost10 MidPost11 MidPost12";

    div:nth-child(1) {
        grid-area: MidPost1;
    }

    div:nth-child(2) {
        grid-area: MidPost2;
    }

    div:nth-child(3) {
        grid-area: MidPost3;
    }

    div:nth-child(4) {
        grid-area: MidPost4;
    }

    div:nth-child(5) {
        grid-area: MidPost5;
    }

    div:nth-child(6) {
        grid-area: MidPost6;
    }

    div:nth-child(7) {
        grid-area: MidPost7;
    }

    div:nth-child(8) {
        grid-area: MidPost8;
    }

    div:nth-child(9) {
        grid-area: MidPost9;
    }

    div:nth-child(10) {
        grid-area: MidPost10;
    }

    div:nth-child(11) {
        grid-area: MidPost11;
    }

    div:nth-child(12) {
        grid-area: MidPost12;
    }
}